
!default.xcworkspace
.build/
.DS_Store
.netrc
.swiftpm/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.lock
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.png
*.swp
*.xccheckout
*.xcscmblueprint
*.xctest/
*.xcuserstate
*.xcworkspace/
/.build
/Packages
# OS X
# Swift Package Manager
# Unit Tests
# Xcode
build/
DerivedData/
Package.resolved
Packages/
xcuserdata/
